# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;uid=root;database=essentialmode"
set es_enableCustomData 1


# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
# ensure scoreboard

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
rcon_password "SEALLYSEALS"

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

set steam_webApiKey "9613885999A89726641FC3E8F9BDF3EB"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://i.imgur.com/b4KeYxW.png"
#sets banner_connecting "https://i.imgur.com/b4KeYxW.png"

sets Discord "https://discord.gg/rAWxYmp"
sets activitypubFeed sikora@mastodon.online

# Set your server's hostname
sv_hostname "FXServer, but with Seals"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "hey world!"

set onesync_forceMigration true
set onesync_workaround763185 true

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
# sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
# Jure Francetic steam
add_principal identifier.steam:1100001049beec1 group.admin
# #Sikora steam
#add_principal identifier.steam:11000010441bee9 group.admin

# Hide player endpoints in external log output.
sv_endpointprivacy true

start async
start mysql-async

start essentialmode
start esplugin_mysql
start es_extended
start cron
start es_ui

start skinchanger
start esx_skin
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start esx_addonaccount
start esx_society
start esx_addoninventory
start esx_datastore
start baseevents
start instance
start esx_billing
start esx_shops
start esx_license
start esx_identity
start esx_mafije
start esx_status
start esx_armor
start esx_reporter
start esx_addons_xenknight
start xenknight
start dpemotes

start new_banking

start esx_jobs
start esx_joblisting

start esx_vehicleshop
start esx_lscustom

start pNotify
start esx_drp_garage
start eden_animal
start esx_basicneeds
start LegacyFuel
#start esx_marker
start esx_service


#Custom special jobs
start esx_policejob
start esx_ambulancejob
start esx_mechanicjob
start esx_taxijob
start esx_jb_weashops

# Add any new content addons here

start t-loadingscreen
start esx_scoreboard
start es_admin2
start fivem-ipl
start Peds
start esx_clotheshop
start holograms
start esx-qalle-jail
start wk_wrs
start esx_barbershop
start esx_carwash
start esx_celldoors
start esx_dmvschool
start chat-theme-civlifechat
start esx_rpchat
start esx-kr-vehicle-push
start esx_vehiclelock
start esx-carRental
start esx_spectate
start es_wsync
start esx-races
start vengine
start esx_advanced_holdup
start radio
start esx_hifi
start help
#start PvP
#start esx_bikerjob
#start esx_mafia
#start esx_zemunski
start esx_vatrogasci
#start esx_gangjob
#start esx_cartel
start esx_drugs
start prodajoruzje
start esx_deliveryjob
#start war
#start esx_getout
start esx_garbagecrew
#start esx_drugeffects
start esx_inventoryhud
start idcard
start PillboxHos
start PillboxHosDoors
start simplehealthsystem
start esx_kosac
#start esx_shelby
#start esx_bus
start esx_anticheat
start esx_contract
#start esx_repairkit
#start afkkick
start NPC
#start ExternalVehicleCommands
start Seal
#start Weaponry
start RealisticVehicleFailure
start esx_farma
#start esx_britvasi
#start esx_fbijob
#start tp_fbi
start kokain
start zone
#start esx_yakuza
#start crouch
start connectqueue
start esx_radari
#start pokaziga
start Cruise
start esx_accessories
start esx_ralica
#start spremisve
#start pokazid
#start prodajamb
#start esx_hifi
#start dosije
#start grudanje
start trew_hud_ui
start manual
start mhacking
start pacific_bank_robbery
#start krugovi
#start urp_znacka
start policeboost
#start 3dme
start salty_vehicleblackout
#start predaja
#start pokaziid
start PiggyBack
#start uzmitaoca
#start antiVDM
#start oglasi
start esx_zatvorkazne
start esx_bitcoin
start pljackaZlatare
#start pumpadzija
start Suvozac
start Nadzornekamere
start trunkinv
start esx_hitman
#start umires
start esx_kesa
#start tazer_animacija
#start discord
start esx_vodoinstalater
start dpclothing
start HousingShells
start loaf_housing

# Mape
start prison-map
start ballasmap

# developement/ remove later
#start showcoords
# developement/ remove later

#Vozila
start vozila

# Streamable resources
start meta_libs
start stream
start policestation
start gaboint
start madrazoint
start modernhouse
start mlomansion
#start NativeUI
start eup-stream
#start eup-ui
#start esx_vocnjaci
#start weazel
start esx_drvosjeca
start burgerUPDATE
start pljackekuca
start skriptice
start esx_ballas
start tp_sipa
start esx_sipa
start drones_stream
start esx_drone
start InteractSound
start brod
start granica
start esx_gradjevinar
start paletopd
start c63
start esx_petarda
start esx_heroin
start esx_duhan
start esx_biser
start esx_zastitari
start xnTattoos
start sf90
start p1gtr
start rs62
start titan
start ktmrally
start 6x6police
start esx_vlak
start esx_biznisi
start niva
start g60l
start R50
start progressBars
start autobomba
start bahamaMama
#start testzvuka
start gt17
start senna
start agerars
start umkscout
start hummer
start g500
start veneno
start esx_LSD
start esx_meth
start cityhall
start clio
start delta
start gklasica
start na6
start wrangler
##PROPS##
start casino_props
##INTERIORES##
start vwdlc_int_02
##EXTERIOR##
start ch3_additions
##IGRE##
start blackjack
start rulet
start vockice
##
start lamg
start sclass12
start c63w205
start rmodx6
start s600l
start scaldarsi

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 64

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey id2mj0cryfq4fuf3a0u8fxcmazfxn9ie
#sv_licenseKey "ft05pyebd4wqn5fhfhu9jon4hn3hl0tq"
